<html>

    <head>
        <title>School Lessons</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="lessons.js"></script>
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>

    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
            </header>

            <main>
                <div v-if='showProduct'>
                        <button 
                        v-on:click="sortAscending">
                        Ascending Price
                    </button>
                    <button
                        v-on:click="sortDescending">
                        Descending Price
                    </button>
    
                    <button 
                        v-on:click = 'showCheckout'
                        v-if=cartItemCount> 
                        {{ cartItemCount }}
                        <span class="fas fa-cart-plus"></span> Shopping Cart
                    </button>
                    <button disabled='disabled' v-else>
                        Shopping Cart
                    </button>

                <div v-for="lesson in lessons">
                <figure>
                    <img v-bind:src="lesson.image" width=250px height=250px>
                </figure>
                <h2 v-text="lesson.title"></h2>
                <p v-html="lesson.location"></p>
                <p>Price: Dhs {{lesson.price}}</p>
                <p>Space: {{lesson.availableSpace - cartCount(lesson.id)}}</p>

                <button
                    v-on:click="addToCart(lesson)"
                    v-if="canAddToCart(lesson)">
                    Add to Cart
                </button>

                <button disabled='disabled' v-else>
                    Add to Cart
                </button>
            </div>
            </div>

                <div v-else>
                 
                    <button v-on:click = 'showCheckout'>Back</button>
                    <h2> Shopping Cart </h2>
                    

                    <h2>Checkout</h2>
                    <p>
                        <strong>Name: </strong>
                        <input v-model.trim="order.name"/>
                    </p>
                    <p>
                        <strong>Phone: </strong>
                        <input v-model.trim="order.phone"/>
                    </p>

                    <!--<button disabled='disabled' v-if="checkInfo">Checkout</button>-->
                    <!--<button v-else>Checkout</button>-->
                    
                </div>
            </main>
        </div>

        <script type="text/javascript">
            var webstore = new Vue({
                el: '#app',
                data: {
                    sitename: 'School Lessons',
                    lessons: lessons,
                    cart: [],
                    showProduct: true,
                    order: {
                        name: '',
                        phone: ''
                    }
                },
                methods: {
                    sortAscending() {
                        function ascendingData(a, b) {
                            return a.price - b.price;
                        }
                        this.lessons.sort(ascendingData);
                    },
                        
                    sortDescending() {
                        function descendingData(a, b) {
                            return b.price - a.price;
                        }
                        this.lessons.sort(descendingData);
                    },
                        
                    addToCart(lesson) {
                        this.cart.push(lesson.id);
                    },

                    canAddToCart(lesson) {
                        return lesson.availableSpace > this.cartCount(lesson.id);
                    },

                    cartCount(id) {
                        let count = 0;
                        for (let i = 0; i < this.cart.length; i++) {
                            if (this.cart[i] === id) {
                                count++;
                            }
                        }
                        return count;
                    },

                    showCheckout () {
                        this.showProduct = this.showProduct ? false : true;
                    },

                    //checkInfo (order) {
                      //  if (order.name != 'abcd') {
                        //    alert("error");
                        //}
                       // else {
                         //   alert('not valid');
                        //}
                    //}

                },
                computed: {
                    cartItemCount: function() {
                        return this.cart.length;
                    },

                    
                    //canAddToCart: function () {
                      //  return this.lesson.availableSpace > this.cartItemCount;
                    //}
                }
            })
        </script>
            
    </body>  
</html>